[user]
	email = timothy.cline@rackspace.com
	name = Timothy Cline
[alias]
    vimdiff = difftool -y -t vimdiff
[color]
    branch = auto
    interactive = auto
    status = auto
    diff = auto
[merge]
	tool = vimdiff
[gitreview]
	username = timo6944
[diff]
	tool = vimdiff
